:root {
  /* --primary-color: #e67e22;
  --primary-shade: #cf711f;

  --background-color: #fdf2e9; */

  --primary-color: #f03e3e;
  --primary-shade: #a82b2b;
  --secondary-color: #f36565;

  --background-color: #fcd8d8;
}

/******************************/
/*           HEADER           */
/******************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.8rem;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-family: "Sansita Swashed", cursive;
  /* color: #333; */
  color: #300c0c;
  font-weight: 500;
  font-size: 2.4rem;
}

/******************************/
/*         NAVIGATION         */
/******************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  color: #300c0c;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-shade);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--primary-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--primary-shade);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/******************************/
/*        HERO SECTION        */
/******************************/
.section-hero {
  background-color: var(--background-color);
  padding: 12.8rem 0 9.6rem 0;
  height: 100vh;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero .heading-primary,
.hero-description,
.delivered-text {
  color: #180606;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  border-radius: 60px;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--background-color);
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--primary-shade);
  font-weight: 700;
}

/******************************/
/*    FEATURED IN SECTION     */
/******************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/******************************/
/*        ABOUT SECTION       */
/******************************/
.section-about {
  padding: 9.6rem 0;
}

.section-about .grid {
  row-gap: 4.8rem;
}

.about {
  grid-row: 1/3;
}

.about-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.8rem;
}

.section-about .btn {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
}

.skill-list,
.award-list {
  display: flex;
  flex-wrap: wrap;
}

.box {
  font-size: 1.6rem;
  border-radius: 9px;
  background-color: #eee;
  color: #666;

  padding: 1.2rem 2.4rem;
  margin: 0 1.5rem 1.5rem 0;
}

.box-hov:hover {
  background-color: #ddd;
  color: #444;
  box-shadow: 0 0.4rem 1.2rem #999999e9;
  transform: translateY(-0.1rem);
  transition: all 0.2s;
}

/******************************/
/*      PROJECTS SECTION      */
/******************************/
.section-projects {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 9.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 2%;

  position: absolute;
  top: 50%;
  left: 50%;
  /* this pulls the circle up and to the right so that it's centered */
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 90%;
  height: 15%;

  /* 60% of parent's elements width */
  padding-bottom: 60%;

  background-color: #ffc9c9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #ffc9c9;
  z-index: -1;
}

.step-img {
  width: 85%;
  border-radius: 2%;
  /* z-index: 10; */
}

.step-img-websites {
  margin-top: 1rem;
  width: 100%;
  border-radius: 2%;
  border: 0.02rem solid #ffc9c9;
  /* z-index: 10; */
}

.step-bharat-bhoj-border {
  border: 0.02rem solid #ffc9c9;
}

/******************************/
/*        CTA SECTION         */
/******************************/
.section-cta {
  /* top right bottom left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top horizontal bottom */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  /* display: grid; */
  /* 2/3 = 66.6% of screen for the form and 1/3 = 33.3% for image */
  /* grid-template-columns: 2fr 1fr; */
  /* background-color: var(--primary-color); */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(
    to right bottom,
    /* #eb984e, */ var(--secondary-color),
    var(--primary-color)
  );
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form .message-box {
  grid-column: 1/-1;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--background-color);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form textarea {
  resize: none;
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/******************************/
/*       FOOTER SECTION       */
/******************************/

.footer {
  padding: 6.4rem 0;
  border-top: 1px solid #eee;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.8rem;
}

.social-icon {
  height: 2.8rem;
  width: 2.8rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: 2rem;
  padding-right: 20rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.nav-col {
  grid-column: 3/-1;
}
